& {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.animation-inner-wrapper {

}

@keyframes fade-in-slide {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.page-enter {
  transform: translate3d(100%, 0, 0);
  opacity: 0.0;
  z-index: 2;
}

.page-leave {
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 0px;
  width: 100%;
  opacity: 1.0;
  z-index: 1;
}

.page-enter.page-enter-active {
  animation: fade-in-slide 1000ms ease;
}

.page-leave.page-leave-active {
  animation: fade-out 1000ms ease;
}
